<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>User Timeline</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="./resources/js/jquery/jquery-2.1.1.js"></script>

        <link rel="stylesheet" href="<?php echo $conf->js->bootstrap->css;?>">
        <link rel="stylesheet" href="<?php echo $conf->js->bootstrap->theme;?>">
        <script src="./resources/js/bootstrap-3.2.0-dist/js/bootstrap.js"></script>

    </head>